.logo{
  width:6%;
  margin-left:5%;

}
.header{
text-align: center;
}

.home{
  float:left;
      width:8%;
  text-transform: uppercase;

}
.register{
  float:right;
    margin-right: 40px;
    width:8%;
}

.sleep{
  float:right;
  font-size: 25px;
  color:black;
}
.car{
  font-size: 25px;
  color:black;
}
.find{
  padding:3%;
}
