
.posts{
    background-color: white;
}

.photo_festival{
  width:100%;
  padding-bottom:5%;
  padding-top:5%;

}

.festivals{
  margin-top:15%;
  background-color: #F9F9F9;
  box-shadow: 10px 20px 76px rgba(44, 75, 153, 0.1);
  border-radius: 20px;
  padding:6%;
}

.transports{
  margin-top:4%;
  background-color: #F9F9F9;
  box-shadow: 10px 20px 76px rgba(44, 75, 153, 0.1);
  border-radius: 20px;
  padding:6%;
}
a{
  color:#2C4B99;
}
.btn-warning{
  background-color: #2C4B99;
  border:0;
  color:white;
}
.new_post{
display: -webkit-box;
color:black;

}
